<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.MovieMapper">
     <select id="selectAll" resultType="com.hnb.movie.MovieVO"> <!-- resultType : 반환(return) 타입 -->
	 SELECT
	 FILM_NUMBER AS filmNumber,
	 FILM_NAME AS filmName,
	 DIRECTOR AS director,
	 ACTOR AS actor,
	 RATE AS rate,
	 RUNTIME AS runtime,
	 PRICE AS price,
	 COUNTRY AS country,
	 GENRE AS genre,
	 RELEASE_DATE AS releaseDate,
	 END_DATE AS endDate,
	 STORY AS story,
	 CUT AS cut,
	 TRAILER AS trailer
	 FROM MOVIE
     </select>
     
     <insert id="insert" parameterType="com.hnb.movie.MovieVO"> <!-- parameterType: 파라미터 안에 받아오는 데이터 타입을 말하는 것. -->
    INSERT INTO MOVIE
      (
      FILM_NUMBER,FILM_NAME,DIRECTOR,ACTOR,RATE,RUNTIME,PRICE,COUNTRY,GENRE,
      RELEASE_DATE,END_DATE,STORY,CUT,TRAILER
)
    VALUES
      (#{filmNumber}, #{filmName}, #{actor}, 
      #{rate}, #{runtime}, #{price}, #{country} #{genre}, 
      #{releaseDate}, #{story}, #{cut}, #{trailer})
  	</insert>
     
     
     <update id="update" parameterType="com.hnb.movie.MovieVO">
	 UPDATE MOVIE SET
	 FILM_NUMBER =#{filmNumber},
	 FILM_NAME =#{filmName},
	 DIRECTOR =#{director},
	 ACTOR =#{actor},
	 RATE =#{rate},
	 RUNTIME =#{runtime},
	 PRICE =#{price},
	 COUNTRY =#{country},
	 GENRE =#{genre},
	 RELEASE_DATE =#{releaseDate},
	 END_DATE =#{endDate},
	 STORY =#{story},
	 CUT =#{cut},
	 TRAILER =#{trailer}
	 FROM MOVIE
	 WHERE FILM_NUMBER = #{filmNumber}
     </update>
     
      <select id="selectNameBy" parameterType="string" resultType="com.hnb.movie.MovieVO">
	SELECT
	FILM_NUMBER AS filmNumber,
	FILM_NAME AS filmName,
	DIRECTOR AS director,
	ACTOR AS actor,
	RATE AS rate,
	RUNTIME AS runtime,
	PRICE AS price,
	COUNTRY AS country,
	GENRE AS genre,
	RELEASE_DATE AS releaseDate,
	END_DATE AS endDate,
	STORY AS story,
	CUT AS cut,
	TRAILER AS trailer
	FROM MOVIE WHERE FILM_NUMBER = #{filmNumber}
      </select>
      
      <delete id="delete" parameterType="string" >
      DELETE FROM MOVIE WHERE FILM_NUMBER = #{filmNumber}
      </delete>
      
      
     
 </mapper>
 
 